@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Forums.ViewModels

@model LoginViewModel

<h2>Access Denied</h2>
<h3>Please login to add content</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}
<p><strong>Don't have an account?</strong></p>
<p>@Html.ActionLink("Click here to sign up", "Register", "Account")</p>
