@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.Models.Comment

<h2>New Comment</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Text)
    @Html.TextBoxFor(model => model.Text)
    <label>User Name</label>
    @Html.TextBoxFor(model => model.UserName)

    <label>Select a post to comment</label>
    @Html.DropDownList("TopicId")
    <input class="btn btn-default" type="submit" value="Create" />
}
<p>@Html.ActionLink("Back to topics", "Index", "Home")</p>