@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.CommentsViewModel



<div class="forum-block container comment-title" id="mobile-comment">
    <h3 class="title-move-down">@Model.post.Title</h3>
    <h5>@Model.post.Text</h5>
    <h5 class="user-name">by @Model.post.UserName</h5>
</div>


@foreach (var listComment in Model.Comments)
{   
    <li class="response-block container response-font">@Html.DisplayFor(modelComment => listComment.Text) <br /> <p class="user-name">by @Html.DisplayFor(modelComment => listComment.UserName)</p> </li>
}

<div id="result1" class="response-block container"></div>

@if (User.Identity.IsAuthenticated)
{
    <div id="add-comment-down">

     <hr />

     <p>add a new comment</p>

     <br />

    <form class="new-comment">
        <input type="hidden" name="Post" value="@Model.post" />
        <input type="hidden" name="PostId" value="@Model.post.PostId" />
        <input type="hidden" name="newUser" value="@User.Identity.Name" />
        <div class="col-md-1">
            <label for="newText">Text: </label>
        </div>
        <div class="col-md-11 move-down">
            <textarea type="text" name="newText" required></textarea>
        </div>
        <button type="submit" class="btn btn-default move-down">Submit</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.new-comment').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("NewComment")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resultMessage = '<span class="response-font">' + result.text + '<br /> <span class="user-name">by ' + result.userName + '</span></span>';
                            $('#result1').html(resultMessage);
                        }
                    });
                });
            });
      </script>

    </div>
}
