@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.CommentsViewModel


<h2><bold>@Model.post.Title</bold></h2>

<div class="forum-block container">
    <h4>@Model.post.Text</h4>
    <p class="user-name"> By: @Model.post.UserName</p>
</div>



@foreach (var listComment in Model.Comments)
{   
    <li class="response-block container">@Html.DisplayFor(modelComment => listComment.Text) <br /> <span class="user-name">By: @Html.DisplayFor(modelComment => listComment.UserName)</span> </li>
}
<hr />
<p>@Html.ActionLink("Add a new comment", "Create")</p>
