@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.CommentsViewModel

<h2>@Model.post.Title</h2>
<h4 class="comment-block move-down">@Model.post.Text</h4> 
<p class="user-name"> By: @Model.post.UserName</p>



@foreach (var listComment in Model.Comments)
{   
    <li>"@Html.DisplayFor(modelComment => listComment.Text)" <br /> By: @Html.DisplayFor(modelComment => listComment.UserName) </li>
}
<hr />
<p>@Html.ActionLink("Add a new comment", "Create")</p>
