@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.CommentsViewModel



<div class="forum-block border-block center-block container" id="mobile-comment">
    <h3 class="title-move-down">@Model.post.Title</h3>
    <h4>@Model.post.Text</h4>
    <h4 class="user-name">by @Model.post.UserName</h4>
</div>


@foreach (var listComment in Model.Comments)
{   
    <li class="forum-block border-block change-width-block container">@Html.DisplayFor(modelComment => listComment.Text) <span class="user-name"> <br /> by @Html.DisplayFor(modelComment => listComment.UserName)</span> </li>
}

<div id="result1" class="forum-block border-block container change-width-block"></div>


@if (User.Identity.IsAuthenticated)
{
    <div id="add-comment-down">

        <p>add new comment</p>

        <form class="new-comment">
            <input type="hidden" name="Post" value="@Model.post" />
            <input type="hidden" name="PostId" value="@Model.post.PostId" />
            <input type="hidden" name="newUser" value="@User.Identity.Name" />
            <textarea type="text" name="newText" required></textarea>
            <br />
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <script type="text/javascript">
        $(document).ready(function () {
            $('.new-comment').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("NewComment")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resultMessage = result.text + '<br /> <span class="user-name">by ' + result.userName + '</span>';
                            $('#result1').html(resultMessage);
                        }
                    });
                });
            });
        </script>

    </div>
}
