@{
    ViewData["Title"] = "Forae - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.Models.Post

<h2>Create a new post</h2>

<hr />

@using (Html.BeginForm())
{
    <input type="hidden" name="UserName" value="@User.Identity.Name" />

    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 move-down">
        @Html.TextBoxFor(model => model.Title, new { required = "required" })
    </div>

    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 move-down">
        @Html.TextAreaFor(model => model.Text, new { required = "required" })
    </div>

    <div class="col-md-2">
        <label>Choose Subforum</label>
    </div>

    <div class="col-md-10 move-down">
        @Html.DropDownList("TopicId")
    </div>

    <input class="btn btn-default" type="submit" value="Create Post" />
 }
         

