@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Forums.Models.Post>

<h2>View Posts</h2>
<hr />
@foreach (var listPost in Model)
{
    <li>@Html.DisplayFor(modelPost => listPost.Topic.Name)</li>
    <li>@Html.DisplayFor(modelPost => listPost.Text) | @Html.ActionLink("Comments", "Index", "Comments", new { id = listPost.PostId })</li>
}

<p>@Html.ActionLink("Add new post", "Create")</p>
<p>@Html.ActionLink("Back to Topics", "Index", "Home")</p>
