@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.PostsViewModel

<h2>@Model.topic.Name</h2>
<hr />

@foreach (var listPost in Model.Posts)
{   
    <li><strong>@Html.DisplayFor(modelPost => listPost.Title)</strong></li>
    <li>@Html.DisplayFor(modelPost => listPost.Text) | @Html.ActionLink("Comments", "Index", "Comments", new { id = listPost.PostId })</li>
}

<p>@Html.ActionLink("Add new post", "Create")</p>
<p>@Html.ActionLink("Back to Topics", "Index", "Home")</p>
 